/* Write your CSS here */
.language-item {
  list-style-type: none;
  margin: 0px 10px;
}

.language {
  font-family: 'Lobster';
}

.btn {
  color: #0f172a;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 20px;
}

.active {
  border: 1px solid #0284c7;
  color: #0284c7;
  border-radius: 10px;
}
